.wrapper {
    max-width: 600px;
    margin: 0 auto;
}

html {
    font-size: 1em;
}

.heading {
    font-size: 3rem;
    line-height: 0.7;
    letter-spacing: -4px;
}

.copy {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 2px;
    word-spacing: 30px;
}

.helper-text {
    font-size: 0.8rem;
}